<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ask_The_Tree.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ask_The_Tree.Properties.Settings>
            <setting name="btn1E" serializeAs="String">
                <value>What are the specialties of the Pediatric Department at King Faisal Specialist Hospital And Research Center?</value>
            </setting>
            <setting name="btn2E" serializeAs="String">
                <value>What is Cystic Fibrosis?</value>
            </setting>
            <setting name="btn3E" serializeAs="String">
                <value>What is the importance of vaccination for children?</value>
            </setting>
            <setting name="btn4E" serializeAs="String">
                <value>What is primary immunodeficiency?</value>
            </setting>
            <setting name="btn5E" serializeAs="String">
                <value>How to choose what is healthy for your child?</value>
            </setting>
            <setting name="btn6E" serializeAs="String">
                <value>Why is breastfeeding recommended for your child?</value>
            </setting>
            <setting name="btn7E" serializeAs="String">
                <value>How to protect your child from traffic accident injuries?</value>
            </setting>
            <setting name="btn8E" serializeAs="String">
                <value>Are there types of diabetes?</value>
            </setting>
            <setting name="btn9E" serializeAs="String">
                <value>Is violence limited to physical violence?</value>
            </setting>
            <setting name="btn1A" serializeAs="String">
                <value>ماهي التخصصات التي يشملها قسم طب الأطفال في مستشفى الملك فيصل التخصصي ومركز الأبحاث؟  </value>
            </setting>
            <setting name="btn2A" serializeAs="String">
                <value>ماهو مرض التليف الكيسي الرئوي البنكرياسي؟  </value>
            </setting>
            <setting name="btn3A" serializeAs="String">
                <value>ما أهمية اللقاحات الأولية للأطفال؟  </value>
            </setting>
            <setting name="btn4A" serializeAs="String">
                <value>ماهو مرض نقص المناعة الأولية؟  </value>
            </setting>
            <setting name="btn5A" serializeAs="String">
                <value>كيف تختار الطعام الصحي لطفلك؟  </value>
            </setting>
            <setting name="btn6A" serializeAs="String">
                <value>ماذا ينصح بالرضاعة الطبيعية للطفل؟  </value>
            </setting>
            <setting name="btn7A" serializeAs="String">
                <value>كيف تقي طفلك من خطر الإصابة من الحوادث المرورية؟  </value>
            </setting>
            <setting name="btn8A" serializeAs="String">
                <value>هل هناك أنواع لمرض السكري؟  </value>
            </setting>
            <setting name="btn9A" serializeAs="String">
                <value>هل يقتصر العنف على العنف الجسدي؟  </value>
            </setting>
            <setting name="btn1AudioA" serializeAs="String">
                <value>Audio Test/Recording1.m4a</value>
            </setting>
            <setting name="btn2AudioA" serializeAs="String">
                <value>Audio Test/Recording2.m4a</value>
            </setting>
            <setting name="btn3AudioA" serializeAs="String">
                <value>Audio Test/Recording3.m4a</value>
            </setting>
            <setting name="btn4AudioA" serializeAs="String">
                <value>Audio Test/Recording4.m4a</value>
            </setting>
            <setting name="btn5AudioA" serializeAs="String">
                <value>Audio Test/Recording5.m4a</value>
            </setting>
            <setting name="btn6AudioA" serializeAs="String">
                <value>Audio Test/Recording6.m4a</value>
            </setting>
            <setting name="btn7AudioA" serializeAs="String">
                <value>Audio Test/Recording7.m4a</value>
            </setting>
            <setting name="btn8AudioA" serializeAs="String">
                <value>Audio Test/Recording8.m4a</value>
            </setting>
            <setting name="btn9AudioA" serializeAs="String">
                <value>Audio Test/Recording9.m4a</value>
            </setting>
            <setting name="btn1AudioE" serializeAs="String">
                <value>Audio Test/Recording1.m4a</value>
            </setting>
            <setting name="btn2AudioE" serializeAs="String">
                <value>Audio Test/Recording2.m4a</value>
            </setting>
            <setting name="btn3AudioE" serializeAs="String">
                <value>Audio Test/Recording3.m4a</value>
            </setting>
            <setting name="btn4AudioE" serializeAs="String">
                <value>Audio Test/Recording4.m4a</value>
            </setting>
            <setting name="btn5AudioE" serializeAs="String">
                <value>Audio Test/Recording5.m4a</value>
            </setting>
            <setting name="btn6AudioE" serializeAs="String">
                <value>Audio Test/Recording6.m4a</value>
            </setting>
            <setting name="btn7AudioE" serializeAs="String">
                <value>Audio Test/Recording7.m4a</value>
            </setting>
            <setting name="btn8AudioE" serializeAs="String">
                <value>Audio Test/Recording8.m4a</value>
            </setting>
            <setting name="btn9AudioE" serializeAs="String">
                <value>Audio Test/Recording9.m4a</value>
            </setting>
            <setting name="destPage" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="btnExtraAudio" serializeAs="String">
                <value>Audio Test/Recording10.m4a</value>
            </setting>
            <setting name="btnExtra" serializeAs="String">
                <value>افتتاح</value>
            </setting>
            <setting name="btn1Esize" serializeAs="String">
                <value>20.0</value>
            </setting>
            <setting name="btn2Esize" serializeAs="String">
                <value>20.0</value>
            </setting>
            <setting name="btn3Esize" serializeAs="String">
                <value>20.0</value>
            </setting>
            <setting name="btn4Esize" serializeAs="String">
                <value>20.0</value>
            </setting>
            <setting name="btn5Esize" serializeAs="String">
                <value>20.0</value>
            </setting>
            <setting name="btn6Esize" serializeAs="String">
                <value>20.0</value>
            </setting>
            <setting name="btn7Esize" serializeAs="String">
                <value>20.0</value>
            </setting>
            <setting name="btn8Esize" serializeAs="String">
                <value>20.0</value>
            </setting>
            <setting name="btn9Esize" serializeAs="String">
                <value>20.0</value>
            </setting>
            <setting name="btn1Asize" serializeAs="String">
                <value>20.0</value>
            </setting>
            <setting name="btn2Asize" serializeAs="String">
                <value>20.0</value>
            </setting>
            <setting name="btn3Asize" serializeAs="String">
                <value>20.0</value>
            </setting>
            <setting name="btn4Asize" serializeAs="String">
                <value>20.0</value>
            </setting>
            <setting name="btn5Asize" serializeAs="String">
                <value>20.0</value>
            </setting>
            <setting name="btn6Asize" serializeAs="String">
                <value>20.0</value>
            </setting>
            <setting name="btn7Asize" serializeAs="String">
                <value>20.0</value>
            </setting>
            <setting name="btn8Asize" serializeAs="String">
                <value>20.0</value>
            </setting>
            <setting name="btn9Asize" serializeAs="String">
                <value>20.0</value>
            </setting>
            <setting name="btnExtraSize" serializeAs="String">
                <value>22.0</value>
            </setting>
            <setting name="btnBackEsize" serializeAs="String">
                <value>28.0</value>
            </setting>
            <setting name="btnBackAsize" serializeAs="String">
                <value>28.0</value>
            </setting>
        </Ask_The_Tree.Properties.Settings>
    </userSettings>
</configuration>